@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-image: url(https://avatars.githubusercontent.com/u/106533794?s=400&u=078510c3e3c9adc24bd5f2e8bccb69424a64c5a6&v=44);
    background-size: 100%;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    z-index: 99;
}

.attribution p {
    visibility: hidden;
    position: fixed;
    bottom: 4.5rem;
    right: 5rem;
    width: 16rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem 1rem 0;
    background-color: var(--dark-blue);
    font-size: .9rem;
    z-index: 999;
    box-shadow: 0 0 0.4rem var(--cyan);
    transform: rotateY(90deg);
    transform-origin: right;
    transition: .8s cubic-bezier(.06, .8, .1, 1);
    color: white;
}

.attribution a {
    color: cyan;
}

.attribution:hover p {
    visibility: visible;
    transform: rotateY(0);
    background-color: black;
}

@layer base {
    input {
        @apply outline-0 outline-none;
    }
}